# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/

# Logs
*.log

# Editors and IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
